/*   GLOBAL   */

html {
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility; 
    -webkit-font-feature-settings: "liga","kern"; 
    font-feature-settings: "liga","kern"; 
    /* overflow-y: scroll; */
    /* overflow-x: hidden; */
}

body, input, label, button {
    font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
}

body {
  background: url("smbg.png") 0 0 ;
  line-height: 1.46;
  max-width: 2000px;
  color: #333;
}

header, div, form, aside, button, li, ul {
  position: relative;
}

em {
    font-family: 'Proxima Nova Italic',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: italic;
    font-weight: 400;
}

a {
    font-size: 100%;
    text-decoration: none;
    vertical-align: baseline;
    padding: 0;
    background: 0 0;
    color: #41b7d8;
}

h2, h3 {
    font-family: "Skolar Bold","Segoe UI Bold","Roboto Slab","Droid Serif", AvenirNext-Bold,"Avenir Bold",Georgia,"Times New Roman",Times,serif;
    font-weight: 700;
    font-style: normal;
}

h2 {
  font-size: 2em;
  line-height: 1.1;
}

h3 {
    font-size: 1.625em;
    line-height: 1.3;
}

h3, h4 {
    padding: 1.5em 0 .5em;
}

h6 {
  display: none;
}

h2 a {
    color: #333;
}

img {
  max-width: 100%;
  height: auto;
}

strong {
    font-family: 'Proxima Nova Bold',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
}

 p,
article img {
  padding: .5em 0;
}

article {
  line-height: 1.55;
}

input {
  vertical-align: middle;
}

article p,
[type="text"],
article ul {
  font-size: 1.125em;
}

[type="text"] {
  line-height: 1.5;
  color: #777;
  border: .08em solid rgba(0,0,0,.1);
  border-radius: .5em 0 0 .5em;
}

[type="submit"] {
  font-size: 1.125em;
  border: .08em solid #c73a11;
  color: #fff;
  background: linear-gradient(to bottom, #e85c33, #e53a2b);
}


.cf:before,
.cf:after {
  content:"";
  display: table;
}

.cf:after {
  clear: both;
}


/*   HEADER   */

.mnb {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
}

header {
  width: 38.2%;
  padding: 1.25em 0;
  margin-left: 5.5%;
}





/*   MAIN   */

.cc {
  margin-bottom: 2em;
}

.fluid {
  background: #fff;
  padding-bottom: 1.5em;
}

.grid {
  margin-top: 1.25em;
}

.post {
    padding: .5em 5.5% 4em 5.5%;
  margin-bottom: 2em;
  border-bottom: .3em solid #41b7d8;
}

.post-items {
  color: rgba(0,0,0,.3);
  padding-bottom: 2em;
}

.post-items li {
  padding: .25em 0 .25em 1.5em;
  margin-top: 1em;
  font-size: 1.125em;
  background-size: 1em 1em;
  background-position: 0;
  background-repeat: no-repeat;
}

.post-items .author, 
.post-items + p {
      font-family: "Skolar Regular","Roboto Slab","Droid Serif",Cambria,Georgia,"Times New Roman",Times,serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.375em;
    line-height: 1.35;
}

.post-items .author {
  margin: 0;
  padding: .5em .5em .5em 0;
  border-bottom: .08em solid rgba(0,0,0,.1);
}

.date {
  background-image: url(icon-meta-time.svg);
}

.tags {
  background-image: url(icon-meta-tags.svg);
}

.tags a {
  display: inline-block;
  margin: 0 1em .5em 0;
}

.comments {
  background-image: url(icon-meta-comments.svg);
}

article figure {
  margin: 1em 0;
}

/*   ADS   */



.ad {
  padding: .5em 5.5% 4em 5.5%;
  margin-bottom: 2em;
}

.ad h6 {
  display: none;
}

.declare {
  float: left;
  color: rgba(0,0,0,.3);
      margin: .875em 0 .5em;
}

.awithus {
  float: right;
  margin-top: .875em;
}

.top,
.f-content a,
.awithus a {
  border-bottom: .08em solid rgba(0,0,0,.1);
}

.ad-content {
  text-align: center;
  clear: both;
  background-color: rgba(0,0,0,.1);
  border-radius: .25em;
  padding: 1.5em .5em 1.5em 1.5em;
  font-size: 17.85px;
}

.ad-content img {
  float: right;
  max-width: 15%;
  margin-left: 1.5em;
}

/*   PAGENATION   */

.pgn {
  padding: 0 5.5% 6em 5.5%;
}

.inner-pgn .current,
.inner-pgn a {
  width: 10%;
  margin-right: 4%;
  display: block;
  float: left;
  text-align: center;
  border-radius: .25em;
  padding: .25em 1.6%;
}

.inner-pgn .current {
  color: #fff;
  background-color: #41b7d8;
}

.inner-pgn a:last-of-type {
  margin-right: 0;
}

.top {
  position: absolute;
  right: 1.5em;
  bottom: 1.17em;
  color: rgba(0,0,0,.3);
  font-size: .9em;
}

/*   FOOTER   */


footer {
  padding: 2em 5.5%;
  line-height: 1.55;
  font-size: .9em;
  clear: both;
  box-sizing: border-box;
}

.f-content {
  font-size: .875em;
  text-align: left;
  margin-bottom: 2em;
  color: rgba(0,0,0,.35);
}

.f-content br {
  display: none;
}

/*   BUTTONS   */

.mnb a {
  background-color: #e95c33;
  border: .08em solid #c73a11;
  border-radius: .25em;
  color: #fff;
  padding: .4em;
  float: right;
  text-transform: uppercase;
  box-sizing: border-box;
      font-family: 'Proxima Nova Bold',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    box-shadow: 0 .08em .08em rgba(0,0,0,.25); 
}

.mnu {
  margin-left: 1em;
}

.srch {
  background: url(search-icon.svg) 50% 50% no-repeat;
  text-indent: 150%;
  overflow: hidden; 
  background-size: 70%;
  width: 3em;
}

.rm {
  display: inline-block;
  margin-top: 2em;
  color: #fff;
  background-color: #41b7d8;
     padding: .35em .65em;
    border: .08em solid rgba(0,0,0,.1);
    border-radius: .3125em;
}

.nxt {
  position: absolute;
  top: 3.5em;
  right: 5.5%;
}

.nxt a {
  background: linear-gradient(to bottom, #e85b32 0, #e53b2b 100%);
    padding: .25em .5em;
  border-radius: .25em;
  display: inline-block;
  color: #fff;
}

.nxt a:hover,
.nxt a:focus {
  background: #333;
}

/*   HOVERS ETC   */

li a:focus, li a:hover, 
p a:focus, p a:hover {
    border-bottom: .08em solid #41b7d8;
  }

.mnb a:hover,
.mnb a:focus {
  border: .08em solid #940700;
}

.rm:hover,
.rm:focus {
  border-color: #007394;
}

.inner-pgn a:hover,
.inner-pgn a:focus {
  color: #fff;
  background-color: #41b7d8;
}

/*   HIDDEN pre-breakpoint   */

.mise,
.tnav,
.sn {
  display: none;
}

/*   BREAKPOINTS   */

@media (min-width: 31.25em) {

  header {
    width: 28.55%;
  }

  .post-items li {
    display: inline-block;
    padding-right: 2em;
  }

  .post-items .author {
    display: block;
  }

  .tags a {
    display: inline;
    margin: 0;
  }
}

@media (min-width: 38.125em) {

  .grid {
    padding: .5em 0;
  }

  .pgn .spacer {
    width: 20%;
    float: left;
    height: 1.6875em;
  }

  .inner-pgn {
    width: 60%;
    float: left;
    height: 1.6875em;
  }

  .nxt {
    float: left;
    position: static;
    width: 20%;
    height: 1.6875em;
    text-align: center;
  }

  .f-content {
    margin-left: 2.5%;
  }

  .f-content br {
  display: block;
}
}

@media (min-width: 50em) {

  body {
    border-left: .625em solid transparent; 
  }

  header,
  .mnb {
    display: none;
  }

  /*   TOP NAVIGATION   */

  .tnav,
  .nw,
  .nw a,
  .mise {
    display: block;
  }

  .mist h6 {
    display: none
  }

  .nw {
    width: 79%;
    float: left;
  }

  .nw li {
    float: left;
    border-right: .03em solid rgba(0,0,0,.05);
  }

  nav a:hover,
  nav a:focus {
    border: none;  
  }

  .nw li a {
    padding: 2.5em 1em .5em 1em;
    height: 1.75em;
    color: rgba(0,0,0,.3);
  }
    
  .nw li a:hover,
  .nw li a:focus {
    color: rgba(0,0,0,.6);
    background-color: #ff6;
    padding-bottom: .5em;
  }


  .nw .current {
    width: 24%;
    background-color: #fff;
  }

  .nw .current a {
        padding: 1.5em 1em 0;
    height: 3.3125em;
  }

  .nw .current a:hover,
  .nw .current a:focus  {
    padding-bottom: 0;
    background-color: #fff;
  }

  .nw .current img {
    position: relative;
    top: -.125em;
  }

  .nw .cody {
    background-image: url(cody.svg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 2.25em;
  }

  .nw .cody a:hover,
  .nw .cody a:focus {
    background-image: url(cody.svg);
    background-repeat: no-repeat;
    background-position: 100% .25em;
    background-size: 2.25em;
  }

  .ch {
    float: right;
    margin: 2.5em 3% 0 0;
  }

  .ch li {
    float: left;
    margin-left: .625em;
  }

  .ch li a {
    text-indent: 150%;
    overflow: hidden;
    background-image: url(social_channels.png);
    width: 1.5em;
    height: 1.5em;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    opacity: .4;
  }

  .ch li a:hover,
  .ch li a:focus {
    opacity: 1;
  }

  .rss a {
        background-position: 0px -34px;
  }

  .facebook a {
    background-position: 0px -67px;
  }

  .twitter a {
    background-position: 0 100%;
  }

  .email a {
    background-position: 0 0;
  }

  /*   Searchbar   */

  .mise form {
    margin: 1em 0 2em 5.5%;
  }

  .sf label {
        font-weight: 400;
    color: rgba(0,0,0,.25);
    margin: -.8em 0 .5em;
    display: block;
  }

  .sf [type="text"] {
    width: 73%;
    padding: 1em 2.5%;
    height: 1.125em;
    border-right: 0;
  }

  .mise button {
    width: 17.5%;
    height: 3.25em;
    line-height: 3.25em;
  }

  .sf button {
    border-radius: 0 .5em .5em 0;
    vertical-align: top;
    left: -.3125em;
  }

  /*   MAIN   */

  .main {
    width: 80%;
    padding: 0;
    margin-top: 1.5em;
  }

  .post {
    padding-left: 11%;
  }

  .ad {
    padding-left: 11%;
  }

  .col {
    float: left;
  }

  /*   Side Nav   */

  .sn {
    display: block;
    width: 20%;
  }
 
  .sct {
    margin: 2em 0;
  }

  .sn ul {
    margin-left: -.08em;
  }

  .sn li {
    border-left-style: solid;
    border-left-width: .625em;
    padding-bottom: 2.25em;
  }

  .sn li a {
    color: #333;
    text-transform: uppercase;
    letter-spacing: .175em;
    font-family: ;
    padding: .25em .5em .25em 20%;
        font-family: 'Proxima Nova Bold',"Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 700;
    display: block;
        border-bottom: .08em solid transparent;

  }

  .sn li li {
    border: 0;
    padding-bottom: 0;
    margin-left: .08em;
  }

  .sn li li a {
    color: #777;
        font-family: "Proxima Nova Regular","Segoe UI",Roboto,"Droid Sans","Helvetica Neue",Arial,sans-serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: none;
    padding-left: 20%;
    border-bottom: 0;
  }

  .sct li:focus ul li a,
    .sct li:hover ul li a {
        color: #333;
        border: 0
    }

  .short {
    display: none;
  }

   .menu-item-coding {
    border-left-color: #C9E9E5;;    
  }

  .menu-item-design {
    border-left-color: #CDEEAA;    
  }

  .menu-item-mobile {
    border-left-color: #F9F0A8;    
  }

  .menu-item-graphics {
    border-left-color: #E0CFDF;    
  }

  .menu-item-ux-design {
    border-left-color: #FACED2;    
  }

  .menu-item-wordpress {
    border-left-color: #BCD8F0;    
  }

  /*   HOVERS   */

  .sn li:focus a,
.sn li:hover a {
  border-bottom:.08em solid rgba(0,0,0,.1);
}

.sn li a:focus,
.sn li a:hover {
  background-color: #ff6;
}

.menu-item-coding.current-menu-item,
 .menu-item-coding:hover {
    border-left-color: #63BFB2;
}

.menu-item-design.current-menu-item,
.menu-item-design:hover {
  border-left-color: #6ECE0A;
}

.menu-item-mobile:hover {
    border-left-color: #EBD203;
}

.menu-item-graphics:hover {
    border-left-color: #A675A2;
}

.menu-item-ux-design:hover {
    border-left-color: #F0717C;
}

.menu-item-wordpress:hover {
    border-left-color: #3E8DD2;
}

}

@media (min-width: 63.75em) {

/* HEADER/NAv  */

  .nw .current {
    width: 21%;
  }

  .cc {
    margin-right: -28.125em;
    float: left;
    width: 100%;
  }

  .fluid {
    margin-right: 28.125em;
    border-radius: 0 .625em .625em 0;
  }

  .mise,
  .sn li ul {
    display: none; 
  }

  .ch {
    margin-right: 1em;
  }
  

  /*   SIDENAV   */

  .sn {
    width: 100%;
  }

  .sct {
    margin-top: -.5em;
  }

  .sn ul {
    padding-left: 5.5%;
    border-bottom: .3125em solid rgba(0,0,0,.06);
    margin-top: 1em;
  }

  .sn li {
    float: left;
    border-left: 0;
    padding: 0;
    border-right: .08em solid #e5e5e5;
    border-bottom-width: .3125em;
    border-bottom-style: solid;
    margin-bottom: -.3125em; 
  }
 
  .sn li:last-of-type {
    border-right: 0;
  }

  .short {
    display: block;
  }

  .long {
    display: none;
  }

  .sn li a {
    font-size: .75em;
    padding: .75em .9em;
  }

   .menu-item-coding {
    border-bottom-color: #C9E9E5;;    
  }

  .menu-item-design {
    border-bottom-color: #CDEEAA;    
  }

  .menu-item-mobile {
    border-bottom-color: #F9F0A8;    
  }

  .menu-item-graphics {
    border-bottom-color: #E0CFDF;    
  }

  .menu-item-ux-design {
    border-bottom-color: #FACED2;    
  }

  .menu-item-wordpress {
    border-bottom-color: #BCD8F0;    
  }

  /*  MAIN  */



  .main {
    width: 100%;
  }

  .post {
    padding-left: 5.5%;
  }

  .main {
    margin-top: -.5em;
  }

  h2 {
    padding-top: .5em;
  }

  .ad {
    padding-left: 5.5%;
  }

  /*   ASIDE   */

  .side {
    width: 26.25em;
    top: -3.325em;
    padding: 0 0 0 1.25em;
  }

  .sb .sf {
    display: block;
  }

  .sb .sf form {
    margin: 0;
  }

  .searchl {
    padding: 2em 0 .125em 0;
  }

  .sb .sf [type="text"] {
    height: 1.5em;
    padding: .375em 0 .375em 2%;
  }

  .sb .sf button {
    height: 2.375em;
    line-height: 2.25;
    width: 23%;
  }

  .wg {
    clear: both;
    border: .08em solid rgba(0,0,0,.1);
    border-radius: 0 .625em .625em 0;
        background: rgba(255,255,255,.55);
    margin:1.5em 0 1.5em -1.25em;
    border-left: 0;
    padding: 0 1.25em 2em;
  }

  .wg h3 {
    padding-left: 2.5em;
  }

  .wg h3 a {
    position: relative;
  }

  .wg h3 img {
    position: absolute;
    left: -2.5em;
    top: 0;
  }

  .sr {
    text-indent: 200%;
    overflow: hidden;
    height: .008em;
    width: .008em;
  }

  .sb .mcf input {
    width: 66%;
  }

  .sb .mcf input + button {
    width: 30%;
  }

  .mcc {
    width: 12.5em;
    padding-top: 1em;
  }

  .so div {
    margin-top: .5em;
    border-bottom: .08em solid rgba(0,0,0,.05);
  }

  .so .fir {
    padding: 0 1.5em 1.75em 0;
  }

  .so .sec {
    padding-bottom: 1.75em;
  }

  .so div:last-of-type {
    border: 0;
  }
  .so img {
    width: 94px;
    height: 135px;
    overflow: hidden;
    float: left;
    margin: 1.5em 1.5em 0 0;
  }

  .so p {
    overflow: hidden;
    line-height: 1.55;
    padding-top: 1.25em;
  }

  .mt img {
    width: 94px;
    height: 94px;
    float: left;
    padding: 1em 1em 0 0;
  }

  .mt p {
    overflow: hidden;
    padding-top: 2em;
  }

  .jobs p {
    font-size: .875em;
  }

  .wg li {
    padding: 1em 0;
    border-bottom: .08em solid rgba(0,0,0,.05);
  }

  .wg li:last-of-type {
    border: 0;
  }


  /*  FOOTER  */

  footer {
    padding: 0;
    margin-right: 30em;
  }

}

@media (min-width: 76.25em) {
  
  .nw {
    width: 50%;
  }

  .nw .current {
    width: 29%;
  }

  .nw .current img {
    top: -.4375em;
  }

  .main {
    width: 78%;
    margin-top: 1.8%;
  }

  .sn {
    margin-top: 4%;
  }

  .sn {
    width: 22%;
  }

  .sn li,
  .sn ul {
    border-bottom: 0;
  }

  .sn ul {
    margin: 0;
    padding: 0 2.5% 0 0;
  }

  .sn li {
    border-right: 0;
    float: none;
    margin-bottom: 0;
    padding-bottom: 2.25em;
    border-left-width: .625em;
    border-left-style: solid;
  }

  .sn li a {
    font-size: 1em;
    border: none;
    border-bottom: .08em solid transparent;
    padding: .25em .5em .25em 25%;
  }

  .sn li ul {
    padding: 0;
    margin-left: -.08em;
    display: block;
  }

  .sn li ul li {
    padding-bottom: 0;
    border: 0;
  }

  .sn ul li a {
    margin-top: 0;
    padding-left: 25%;
  }

  .sct {
    margin: 0 0 1em;
  }

  li.menu-item-coding {
            border-left-color: #C9E9E5;
        }
        li.menu-item-design {
            border-left-color: #CDEEAA;
        }
        li.menu-item-mobile {
            border-left-color: #F9F0A8;
        }
        li.menu-item-graphics {
            border-left-color: #E0CFDF;
        }
        li.menu-item-ux-design {
            border-left-color: #FACED2;
        }
        li.menu-item-wordpress {
            border-left-color: #BCD8F0;
        }

        .ch {
          margin-right: 28.125em;
        }

        .ad {
    padding-left: 11%;
  }

  article.post {
    padding-top: 0;
  }

  .main {
    width: 78%;
    margin-top: 1.8%;
  }

@media (min-width: 81.25em) {
  footer {
    padding: 2em 0 0;
  } 
}

@media (min-width: 90.625em) {


/*   TOP NAV   */

  .nw li,
  body {
    border: 0;
  }

  .tnav {
    width: 10%;
    float: left;
  }

  .nw .current {
    width: auto;
    margin: .6em 0 0;
    box-shadow: none;
  } 

  .nw {
    width: auto;
  }

  .ch,
  .nw,
  .nw li {
    float: none;
  }

  .nw li {
    border-bottom: .08em solid rgba(0,0,0,.1);
  }

  .nw .current a {
    padding: 1.5em 0 1em 1.5em;
    height: auto;
  } 

  

  .nw .current img {
    top: 0;
    left: -.5em;
  }

.nw li a,
.nw li a:hover,
 .nw li a:focus {
  padding: 1em 0 1em 1.375em;
}

.nw .current a:hover,
  .nw .current a:focus {
    padding:  1.5em 0 1em 1.5em;
  } 

  .ch {
    margin: 1.25em 0 0 .875em;
  }

  .ch li {
    margin-left: 0;
    margin-right: .5em;
  }

  /*   MAIN   */

  .cc {
    width: 90%;
    border-top: .625em solid transparent;
  }

  .fluid {
    border-radius: 0 .625em .625em 0;
  }

  .grid {
    margin-top: 2.3em;
  }

  .side {
    top: 0;
  }

  .mise {
    top: 1.65em;
    padding-bottom: 1em;
  }

  .sb .sf .searchl {
    margin: 1.5em 0 0;
    padding-top: 0;
  }

  footer {
    margin: 0 29em 2em 10%;
  }

}

